.bgBody {
    background-image: url("./images/bgGoat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
}

h1 {
    color: white;
    font-size: 72px;
    line-height: 0px;
}

.containerFlex {
    display: flex;
    height: 100%;
    justify-content: center;
}

button {
    width: 150px;
    height: 150px;
    background-color: white;
    font-size: 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-inline: 11px;
    margin-top: 80px;
    font-weight: bolder;
}